USE [master]
GO
/****** Object:  Database [ZastitaRacSistema]    Script Date: 9/7/2023 6:51:53 PM ******/
CREATE DATABASE [ZastitaRacSistema]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZastitaRacSistema', FILENAME = N'C:\Users\Djole\ZastitaRacSistema.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZastitaRacSistema_log', FILENAME = N'C:\Users\Djole\ZastitaRacSistema_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZastitaRacSistema].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZastitaRacSistema]
GO
/****** Object:  Table [dbo].[TabelaKorisnici]    Script Date: 9/7/2023 6:51:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabelaKorisnici](
	[Id] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_TabelaKorisnici] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TabelaKorisnici] ([Id], [Email], [Password]) VALUES (1, N'sanja.lajovic@filiptravel.rs', N'Joq10567')
INSERT [dbo].[TabelaKorisnici] ([Id], [Email], [Password]) VALUES (2, N'djordje5rovic@proton.me', N'Djozula99')
GO
USE [master]
GO
